@charset "UTF-8";
/*

 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #000000;
  background-color: #ffffff;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    min-width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 115px;
    padding-right: 115px;
    width: 1280px;
  }
}

.section-title {
  font-family: Titan One, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.pre-section-title {
  font-family: Titan One, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .pre-section-title {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .pre-section-title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-hero__container {
  position: relative;
  background-color: #ffb8ca;
  min-width: 320px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.header,
.hero {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding-top: 6px;
  padding-bottom: 27px;
}

.header__desktop-menu {
  display: none;
}

.header__button {
  position: absolute;
  z-index: 1;
  top: 38px;
  right: 34px;
  width: 160px;
  height: 44px;
  border: none;
  background-color: #ffffff;
  border-radius: 22px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0;
  text-align: center;
  color: #d41443;
  cursor: pointer;
}

.header__button:hover {
  background-color: #ecebeb;
}

.header__button::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 10px;
  vertical-align: middle;
  margin-left: 7px;
  background-image: url("../images/hero/r-arrow.svg");
}

.header__button--invisible {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__logo {
  display: block;
}

.hero {
  height: 419px;
}

.header__menu-image {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 2px;
  z-index: 10;
}

.hero__image {
  position: absolute;
  display: block;
}

.hero__image--milk {
  display: none;
}

.hero__image--girl {
  display: none;
}

.hero__image--icecream {
  top: 92px;
  right: 32px;
}

.hero__ellipse {
  position: absolute;
  top: 83px;
  right: -62px;
  width: 346px;
  height: 344px;
  background-color: #ffa5ba;
  border-radius: 50%;
}

.hero__title {
  position: absolute;
  top: 193px;
  left: 20px;
  display: block;
  width: 218px;
  margin: 0;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 5;
}

.hero__title--red {
  font-size: 48px;
  line-height: 0.96;
  color: #d41443;
}

.hero__text-block {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 154px;
  top: 292px;
  display: block;
  width: 124px;
  font-family: DM Sans;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}

.hero__text-block--invisible {
  display: none;
}

.hero__text-block::after {
  content: '';
  display: block;
  width: 18px;
  height: 25px;
  background-image: url("../images/hero/detail-arrowtab.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero__link-list {
  position: absolute;
  top: 318px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 5;
}

.hero__link-list :not(:last-child) {
  margin-right: 8px;
}

.hero__link-item {
  padding-top: 0;
}

.hero__link {
  padding-top: 8px;
  display: block;
  text-decoration: none;
  height: 24px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: DM Sans;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: 0;
  cursor: pointer;
}

.hero__link--products {
  background-color: #d41443;
  color: #ffffff;
}

.hero__link--products:hover {
  background-color: #c7133e;
}

.hero__link--howmade {
  background-color: #ffffff;
  color: #d41443;
}

.hero__link--howmade:hover {
  background-color: #ecebeb;
}

.hero__statistic-list {
  position: absolute;
  top: 94px;
  right: 34px;
  width: 51px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.hero__statistic-list--invisible {
  display: none;
}

.hero__statistic-item {
  font-family: Titan One;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-align: center;
  color: #d41443;
}

.hero__statistic-item::before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  background-image: url("../images/hero/point.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.hero__statistic-category {
  margin: 0;
  font-family: DM Sans;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #ffffff;
  text-align: left;
}

.hero__statistic-category--right {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .header-hero__container {
    max-width: 768px;
    min-width: 768px;
  }
  .header,
  .hero {
    padding-left: 34px;
    padding-right: 34px;
  }
  .hero {
    height: 285px;
  }
  .header {
    padding-top: 37px;
  }
  .header__menu-image {
    top: 47px;
    right: 224px;
  }
  .hero__title {
    left: 34px;
    top: 102px;
    width: 162px;
    font-size: 22px;
  }
  .hero__title--red {
    font-size: 34px;
    line-height: 0.9;
  }
  .hero__link-list {
    left: 34px;
    top: 202px;
  }
  .hero__image--milk {
    display: block;
    top: 245px;
    left: 34px;
  }
  .hero__ellipse {
    top: 31px;
    right: 137px;
    width: 324px;
    height: 322px;
  }
  .hero__image--icecream {
    top: 63px;
    right: 247px;
  }
  .hero__image--girl {
    display: block;
    bottom: 0;
    right: 34px;
  }
  .header__button--invisible,
  .hero__statistic-list--invisible,
  .hero__text-block--invisible {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .header-hero__container {
    max-width: 1280px;
    min-width: 1280px;
  }
  .header,
  .hero {
    padding-left: 46px;
    padding-right: 46px;
  }
  .hero {
    height: 551px;
  }
  .header__menu-image--invisible {
    display: none;
  }
  .hero__title {
    left: 115px;
    top: 171px;
    width: 277px;
    font-size: 38px;
  }
  .hero__title--red {
    font-size: 58px;
    line-height: 0.9;
  }
  .hero__link-list {
    left: 115px;
    top: 333px;
  }
  .hero__link-list :not(:last-child) {
    margin-right: 15px;
  }
  .hero__link {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 1.3;
  }
  .hero__link--products {
    width: 104px;
  }
  .hero__link--howmade {
    width: 138px;
  }
  .hero__image--milk {
    top: 429px;
    left: 77px;
  }
  .hero__text-block {
    left: 295px;
    top: 485px;
    width: 220px;
    font-size: 14px;
    line-height: 1.4;
  }
  .hero__text-block::after {
    width: 26px;
    height: 44px;
    background-image: url("../images/hero/detail-arrowdsk.svg");
  }
  .hero__image--girl {
    right: 109px;
  }
  .hero__image--icecream {
    top: 108px;
    right: 450px;
  }
  .hero__ellipse {
    top: 52px;
    right: 267px;
    width: 538px;
    height: 538px;
    z-index: 0;
  }
  .header__button {
    right: 115px;
  }
  .hero__statistic-list {
    top: 156px;
    right: 97px;
    width: 92px;
  }
  .hero__statistic-item {
    font-size: 46px;
  }
  .hero__statistic-item::before {
    width: 30px;
    height: 30px;
    background-image: url("../images/hero/point-desk.svg");
  }
  .hero__statistic-category {
    font-size: 14px;
    line-height: 1.28;
    text-align: left;
  }
  .hero__statistic-category--right {
    text-align: right;
    margin-right: 25px;
    margin-bottom: 15px;
  }
  .header__desktop-menu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 355px;
    top: 50px;
    z-index: 10;
  }
  .header__desktop-menu :not(:last-child) {
    margin-right: 35px;
  }
  .header__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: 0em;
    color: #ffffff;
  }
  .header__link:hover {
    color: #d41443;
  }
}

.about {
  padding-top: 200px;
  padding-bottom: 40px;
  background-color: #fff5f6;
  background-image: url("../images/about/sectionbgmob1x.png");
  background-repeat: no-repeat;
  background-position: center bottom 8%;
  background-size: contain;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/about/sectionbgmob2x.png");
  }
}

@media screen and (min-width: 480px) {
  .about {
    background-size: 480px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    background-image: none;
    padding-top: 130px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    background-image: url("../images/about/sectionbgdesk1x.png");
    background-size: 1280px 534px;
    background-position: bottom;
    padding-top: 125px;
    padding-bottom: 39px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/about/sectionbgdesk2x.png");
  }
}

.about__pretitle {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__pretitle {
    margin-bottom: 16px;
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .about__title {
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 768px) {
  .about__cover {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .about__cover {
    gap: 74px;
  }
}

.about__img {
  margin-bottom: 46px;
}

@media screen and (min-width: 768px) {
  .about__img {
    margin-bottom: 0;
  }
}

.about__wrapper {
  width: 69vw;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .about__wrapper {
    width: 332px;
  }
}

@media screen and (min-width: 768px) {
  .about__wrapper {
    width: 340px;
    margin: 0;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .about__wrapper {
    width: 463px;
  }
}

.about__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .about__text {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.76;
  }
}

@media screen and (min-width: 1280px) {
  .about__text {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.about__text--grey {
  color: #907e82;
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .about__text--grey {
    margin-bottom: 35px;
    font-size: 14px;
  }
}

.about__form {
  position: relative;
  display: block;
  margin-bottom: 74px;
}

.about__button {
  position: absolute;
  left: 0;
  top: 110%;
  display: inline-block;
  width: 176px;
  height: 44px;
  padding-left: 33px;
  padding-right: 35px;
  padding-top: 12px;
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  color: #d41443;
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__button::after {
  content: '';
  width: 8px;
  height: 10px;
  background-image: url("../images/about/iconbutton.svg");
  display: inline-block;
  margin-left: 11px;
}

.about__button:hover, .about__button:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .about__button {
    margin-top: 40px;
    top: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .about__button {
    margin-top: 20px;
  }
}

.hide {
  display: none;
}

.hide + .about__button ~ .about__text-hidden {
  display: none;
}

.hide:checked + .about__button + .about__text-hidden {
  display: block;
  margin-bottom: 64px;
}

.advantages {
  width: 100vw;
  background-color: #fff5f6;
  padding-bottom: 97px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages {
    padding-bottom: 139px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__list {
    gap: 30px;
  }
}

.advantages__item {
  width: 72vw;
}

.advantages__item:not(:last-child) {
  margin-bottom: 38px;
}

@media screen and (min-width: 480px) {
  .advantages__item {
    width: 345px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 180px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item {
    width: 330px;
  }
}

.advantages__number {
  font-family: Titan One, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .advantages__number {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__number {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__number {
    font-size: 58px;
  }
}

.advantages__number::before {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url("../images/advantages/icon2.png");
  display: block;
  margin-bottom: 16px;
}

.advantages__item:first-child .advantages__number::before {
  content: '';
  width: 33px;
  height: 50px;
  background-image: url("../images/advantages/icon1.png");
}

.advantages__item:last-child .advantages__number::before {
  content: '';
  width: 44px;
  height: 50px;
  background-image: url("../images/advantages/icon3.png");
}

@media screen and (min-width: 768px) {
  .advantages__number::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__number::before {
    margin-bottom: 40px;
  }
}

.advantages__text {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
}

@media screen and (min-width: 480px) {
  .advantages__text {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__text {
    font-size: 16px;
  }
}

.gallery {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(59%, white), color-stop(60%, #fff5f6));
  background: linear-gradient(0deg, white 59%, #fff5f6 60%);
}

@media screen and (max-width: 767px) {
  .gallery {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 121px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    margin-bottom: 123px;
  }
}

.section-customer-reviews {
  margin-bottom: 128px;
}

@media screen and (min-width: 768px) {
  .section-customer-reviews {
    margin-bottom: 166px;
  }
}

@media screen and (min-width: 1280px) {
  .section-customer-reviews {
    margin-bottom: 179px;
  }
}

.customer-reviews__images {
  margin: 0 auto 29px;
}

@media screen and (min-width: 768px) {
  .customer-reviews__images {
    margin: 0 auto 19px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__images {
    margin: 0 auto 15px;
  }
}

.customer-reviews__text-wrapper {
  margin: 0 auto;
  padding: 43px 50px 20px 50px;
  background-color: #fafafa;
}

@media screen and (max-width: 767px) {
  .customer-reviews__text-wrapper {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .customer-reviews__text-wrapper {
    padding: 47px 36px 28px 60px;
    background-color: rgba(250, 250, 250, 0.4);
    margin-bottom: 42px;
    width: 620px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__text-wrapper {
    padding: 47px 54px 32px 59px;
    margin-bottom: 34px;
    width: 926px;
  }
}

.customer-reviews__text {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  letter-spacing: normal;
  color: #000000;
  background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent 28px, #e1e1e1 29px, #e1e1e1 30px);
}

@media screen and (max-width: 767px) {
  .customer-reviews__text {
    padding: 0 16px 6px 7px;
  }
}

@media screen and (min-width: 768px) {
  .customer-reviews__text {
    padding: 0 44px 6px 20px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__text {
    padding: 0 35px 7px 28px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.customer-reviews__text::before {
  content: '';
  position: absolute;
  z-index: -1;
  display: inline-block;
  width: 54px;
  height: 40px;
  background-image: url(../images/customer-reviews/quotes.png);
}

@media screen and (min-width: 320px) {
  .customer-reviews__text::before {
    left: 11px;
    top: -15px;
  }
}

@media screen and (min-width: 325px) and (max-width: 350px) {
  .customer-reviews__text::before {
    left: -15%;
  }
}

@media screen and (min-width: 351px) {
  .customer-reviews__text::before {
    left: -10%;
  }
}

@media screen and (min-width: 351px) and (max-width: 376px) {
  .customer-reviews__text::before {
    left: -5px;
  }
}

@media screen and (min-width: 480px) {
  .customer-reviews__text::before {
    left: -5px;
  }
}

@media screen and (min-width: 768px) {
  .customer-reviews__text::before {
    left: -20px;
    top: -17px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__text::before {
    left: -9px;
    top: -15px;
  }
}

.customer-reviews__text::after {
  position: absolute;
  left: 50%;
  bottom: -54px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  display: inline-block;
  width: 32px;
  height: 4px;
  background-image: url(../images/customer-reviews/dots.png);
}

@media screen and (min-width: 768px) {
  .customer-reviews__text::after {
    left: 250px;
    bottom: -56px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__text::after {
    left: 404px;
    bottom: -51px;
  }
}

.customer-reviews__text-about {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .customer-reviews__text-about {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__text-about {
    font-size: 20px;
  }
}

.customer-reviews__text-about::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -42px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  width: 73px;
  height: 12px;
  background-image: url(../images/customer-reviews/home-dots.png);
}

@media screen and (min-width: 768px) {
  .customer-reviews__text-about::after {
    bottom: -47px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.container-contact {
  background-color: #ffffff;
  margin: 0 50px;
  padding: 43px 16px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-top: 20px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container-contact {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1270px) {
  .container-contact {
    margin-right: 20px;
    margin-left: 0;
    padding-left: 31px;
    padding-right: 45px;
    width: 220px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1270px) {
  .container-contact:nth-child(3n) {
    margin-right: 0;
  }
}

.name-institution {
  width: 80px;
  background-color: #f0d1a5;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.container-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-city::after {
  content: '';
  max-width: 92%;
  border: 1px solid #e1e1e1;
  margin-top: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container-city::after {
    width: 157px;
  }
}

.name-h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #000000;
}

.span-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
  padding-top: 10px;
}

.schedule-work {
  margin-top: 50px;
}

.schedule-work__list:last-child {
  padding-top: 10px;
}

.schedule-work__time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
}

.schedule-work::after {
  content: '';
  max-width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e1e1e1;
  margin-top: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .schedule-work::after {
    width: 157px;
  }
}

.container-navigation {
  margin-top: 50px;
}

.container-navigation__list {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}

.foodtruck {
  width: 130px;
  background-color: #c2e297;
  padding: 0 15px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-contact {
  margin: 0 auto;
  margin-top: 54px;
  padding: 10px 0;
  width: 161px;
  border: none;
  border-radius: 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-contact::after {
  content: '';
  width: 8px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 8px;
}

.our-location {
  background-color: #d41443;
  border-color: #d41443;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .our-location {
    margin: 0;
  }
}

.our-location::after {
  content: '';
  background-image: url(../images/contackt-img/galo4ka-white.png);
}

.Franchise {
  margin-top: 8px;
  background-color: #ffffff;
  border-color: #d41443;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .Franchise {
    margin: 0;
    margin-left: 15px;
  }
}

.Franchise::after {
  content: '';
  background-image: url(../images/contackt-img/galo4ka-red.png);
}

@media screen and (min-width: 768px) {
  .tablet-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .tablet-desktop-buton {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-wrapper-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .footer-wrapper-title {
    width: 234px;
  }
}

.footer-pretitle {
  font-family: Titan One, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: left;
  color: #ffa5ba;
  margin-top: 113px;
}

@media screen and (min-width: 768px) {
  .footer-pretitle {
    font-size: 26px;
    line-height: 1.15;
    margin-top: 165px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-pretitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer-title {
  font-family: Titan One, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 17px;
}

@media screen and (min-width: 768px) {
  .footer-title {
    font-size: 48px;
    line-height: 55px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-title {
    font-size: 58px;
    line-height: 66px;
    margin-top: 15px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 152px;
}

.footer-icon {
  fill: #fff;
}

.footer-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #ffa5ba;
  border-radius: 50%;
}

.footer-list__icon:hover {
  background-color: #c7133e;
}

.footer-contact {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .footer-contact {
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-contact {
    font-size: 16px;
    line-height: 30px;
  }
}

.footer-tel {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .footer-tel {
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-tel {
    font-size: 16px;
    line-height: 30px;
  }
}

.rights {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #907e82;
}
/*# sourceMappingURL=main.css.map */