<section class="about" id="how">
  <div class="container">
    <p class="about__pretitle pre-section-title">tradition and love</p>
    <h2 class="about__title section-title">how it’s made?</h2>
    <div class="about__cover">
      <img
        class="about__img"
        src="./images/about/mob-280-1x.png"
        srcset="
          ./images/about/mob-280-1x.png    280w,
          ./images/about/tab-340-1x.png    340w,
          ./images/about/desk-516-1x.png   516w,
          ./images/about/mob-560-2x.png    560w,
          ./images/about/tab-680-2x.png    680w,
          ./images/about/desk-1032-2x.png 1032w
        "
        sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, (min-width: 480px) 445px, 85vw"
        alt="кувшин молока и корова"
      />
      <div class="about__wrapper">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text about__text--grey">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__text about__text--grey">Aliquam erat volutpat. Aenean accumsan.</p>
        <form class="about__form">
          <input class="hide" type="checkbox" name="button" id="button" />
          <label for="button" class="about__button">Read more</label>
          <p class="about__text-hidden about__text about__text--grey">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A ratione ea, et reprehenderit
            illum amet officiis eligendi odio veritatis est optio itaque id totam, at nostrum
            quibusdam repudiandae ad. Enim atque iusto, rerum ad odit necessitatibus doloribus
            dolorum temporibus laborum dicta dolore ea deleniti quo incidunt voluptatem veniam.
          </p>
        </form>
        <!-- <button class="about__button" type="button">Read more</button> -->
      </div>
    </div>
  </div>
</section>
