<section class="section-customer-reviews" id="customer-reviews">
  <div class="container">
    <h2 class=".section-title visually-hidden">customer-reviews</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="images customer-reviews__images"
            srcset="
              ./images/customer-reviews/customer-one.png    1x,
              ./images/customer-reviews/customer-one-2x.png 2x
            "
            src="./images/customer-reviews/customer-one.png"
            alt="Girl which smile "
          />

          <div class="customer-reviews__text-wrapper">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="customer-reviews__text-about">Emily, Los Angeles</p>
        </div>

        <div class="swiper-slide">
          <img
            class="images customer-reviews__images"
            srcset="
              ./images/customer-reviews/customer-two.png    1x,
              ./images/customer-reviews/customer-two-2x.png 2x
            "
            src="./images/customer-reviews/customer-two.png"
            alt="Girl with glasses "
          />

          <div class="customer-reviews__text-wrapper">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="customer-reviews__text-about">Liya, New York</p>
        </div>

        <div class="swiper-slide">
          <img
            class="images customer-reviews__images"
            srcset="
              ./images/customer-reviews/customer-three.png    1x,
              ./images/customer-reviews/customer-three-2x.png 2x
            "
            src="./images/customer-reviews/customer-three.png"
            alt="Вark-skinned girl which smile "
          />

          <div class="customer-reviews__text-wrapper">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="customer-reviews__text-about">Gabrielle, Chicago</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
