<footer class="footer" id="footer">
  <div class="container flex-tablet">
    <div class="footer-wrapper-title">
      <p class="footer-pretitle">homemade ice cream made</p>
      <p class="footer-title">with passion</p>
    </div>
    <div class="footer-wrapper">
      <ul class="footer-list">
        <li class="footer-item"> <a href="https://github.com" class="footer-list__icon" target="_blank"> <svg class="footer-icon" width="18.8" height="18.8"><use href="./images/footer/symbol-defs.svg#vector-2" ></use></svg> </a></li>
        <li class="footer-item"> <a href="https://web.telegram.org/" class="footer-list__icon" target="_blank"><svg class="footer-icon" width="19" height="15" ><use href="./images/footer/footer.svg#telegram" ></use></svg> </a></li>
        <li class="footer-item"> <a href="https://www.facebook.com/" class="footer-list__icon"  target="_blank">  <svg class="footer-icon" width="8.8" height="19.2"><use href="./images/footer/footer.svg#facebook" ></use></svg></a> </li>
      </ul>
    
      <p class="footer-contact">
        Feel free to contact
        <a class="footer-tel" href="tel:+61038376628"> +61 (0) 383 766 28 </a>
      </p>
    </div>
  </div>
  <div class="border-top">
      <p class="rights">&#169 2019 - IceCream.All Rights Reserved.</p>
    </div>
</footer>
