<section class="gallery">
  <div class="container">
    <h2 class=".section-title visually-hidden">gallery</h2>
    <img
      class="images"
      srcset="
        ./images/gallery/gallery-m290-1x.jpg   290w,
        ./images/gallery/gallery-m578-2x.jpg   578w,
        ./images/gallery/gallery-t628-1x.jpg   628w,
        ./images/gallery/gallery-d1022-1x.jpg 1022w,
        ./images/gallery/gallery-t1248-2x.jpg 1248w,
        ./images/gallery/gallery-d2042-2x.jpg 2042w
      "
      src="./images/gallery/gallery-m290-1x.jpg"
      alt="gallery"
      sizes="100vw"
    />
  </div>
</section>
